<div *ngIf="allPersonnel">
  <div *ngIf="allPersonnel.length === 0">
    <h3>No Personnel Found</h3>
  </div>
  <div *ngIf="allPersonnel.length > 0">
    <h3>Personnel</h3>
    <ul>
      <li *ngFor="let p of allPersonnel">
        <span (click)="selectPersonnel(p)" style="cursor:pointer;">
          <span *ngIf="tag(p) !== ''">[{{tag(p)}}] </span>
          <span *ngIf="p.handleName">{{p.handleName}}</span>
          <span *ngIf="!p.handleName">
            <span *ngIf="p.username && p.discriminator">{{p.username}}{{p.discriminator}}</span>
          </span>
        </span>
      </li>
    </ul>
  </div>
</div>