<div *ngIf="users">
  <div *ngIf="users.length === 0">
    <h3>No Users Found</h3>
  </div>
  <div *ngIf="users.length > 0">
    <h3>Users</h3>
    <ul>
      <li *ngFor="let user of users">
        <span *ngIf="showOrg && user.activeOrganizationRecord && user.activeOrganizationRecord.properties.rsiCitizen">[{{user.activeOrganizationRecord.properties.rsiCitizen!.mainOrganization.spectrumIdentification}}]&nbsp;</span><span (click)="selectUser(user)" style="cursor:pointer;">{{user.name}}</span>&nbsp;({{user.serviceRecords!.length}} service records)
      </li>
    </ul>
  </div>
</div>