<div style="width: 400px; margin: auto;">
  <app-login></app-login>
  <h2>Personnel</h2>
  <div>
    <input [(ngModel)]="searchTerm" placeholder="Personel">
    <button type="button" (click)="findPersonnel()">Find</button>
    <button type="button" (click)="getAllPersonnel()">All</button>
  </div>

  <div *ngIf="error">
    <h3>Error:</h3>
    <div>{{error}}</div>
  </div>
  <user-details [personnel]="personnel"></user-details>
  <user-list [allPersonnel]="allPersonnel" [showOrg]="showOrgInList" (onSelectPersonnel)="selectPersonnel($event)"></user-list>
</div>